@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

body {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
}

.pokemon-header {
    text-align: center;
    font-size: 56px;
    font-family: 'Pokemon Solid', sans-serif;
    margin-bottom: 50px;
    padding: 10px;
    color: rgb(245, 195, 14);
    text-shadow: -5px 5px 0 hsl(222, 48%, 44%),
        5px 5px 0 hsl(222, 48%, 44%),
        5px 5px 0 hsl(222, 48%, 44%),
        -5px 5px 0 hsl(222, 48%, 44%);
}

#pokemon-listing {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 12px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
}

#pokemon-listing > figure {
    border: ridge 5px rgb(245,194,14);
    padding: 5px;
}

#pokemon-listing > figure:hover {
    background-color: rgb(245,194,14);
}

#pokemon-listing > figure > a {
    text-decoration: none;
    color: hsl(222, 48%, 64%);
}

.spinner-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.spinner {
    width: 100px;
}

.hidden {
    display: none;
}